<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Caelumpic</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">Fotos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/cadastro']">Cadastro</a>
    </li>
  </ul>
  <div class="navbar" id="navbarColor02">
    <form class="form-inline">
      <input #inputDaBusca (input)="0" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{{ inputDaBusca.value }}
<app-cabecalho titulo="CaelumPic"></app-cabecalho>
<div class="container">
  <div class="row">
    <app-card class="col-sm-4 col-xs-12" *ngFor="let foto of fotos | filtraPorTitulo: inputDaBusca.value" descricao="{{ foto.descricao }}"
      titulo="{{ foto.titulo }}">
      <foto url="{{ foto.url }}" descricao="{{ foto.descricao }}"></foto>
    </app-card>
  </div>
</div>